
.burger__menu {
  display: none;
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.burger__menu.active {
  display: flex;
  animation: fadeIn 0.3s ease;
  flex-direction: column;
}

html.menu-open,
body.menu-open {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-list {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.dropdown-text {
  font-family: Manrope;
font-weight: 400;
font-size: 16px;
line-height: 24px;
    border-top: 1px solid #3B82F6;
      width: 100%;
  box-sizing: border-box;

}

@media (max-width: 414px) {
  .burger__menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-text {
    padding: 22px 28px;
    font-size: 20px;
  }
}