.footer {
	height: 88px;
	background-color: inherit;
}

.footer__text {
	height: 24px;
	display: flex;
	align-items: start;
	justify-content: center;
	color: var(--text-gray);
}

@media (max-width: 1024px) {
	.footer {
		display: none;
	}
}
