.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: var(--surface-white);
}

.modal__content {
	max-width: 573px;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.modal_active {
	display: flex;
}

.modal__title {
	margin-bottom: 8px;
}

.modal__subtitle {
	margin-bottom: 8px;
}

.modal__message {
	margin-bottom: 24px;
}

.modal__actions {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

body.modal-open {
    overflow: hidden;
}

@media (max-width: 428px) {
	.modal__actions {
		flex-direction: column;
	}

	.modal__actions .button {
		flex: 1;
	}
}
