.option__label {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: var(--surface-white);
	border-color: var(--border-color);
	border-radius: 8px;
	padding: 12px 16px;
	cursor: pointer;
	margin-bottom: 4px;
	transition:
		background-color 0.2s ease,
		border-color 0.2s ease;
}

.option__label:hover {
	background-color: var(--main-blue-bg);
}

.option__label:has(.option__input:checked) {
	border-color: var(--main-blue);
}

.option__label:has(.option__input:disabled) {
	border-color: var(--border-color);
	color: var(--border-color);
	pointer-events: none;
}

.option__label_success {
	color: var(--green-accent) !important;
	border-color: var(--green-accent) !important;
}

.option__label_error {
	color: var(--red-alert) !important;
	border-color: var(--red-alert) !important;
}

.option__message {
	padding: 0 16px;
}
