.progress-bar {
	width: 100%;
	height: 6px;
	background-color: var(--border-color);
	border: none;
	border-radius: 4px;
	appearance: none;
}

.progress-bar::-webkit-progress-bar {
	background-color: var(--border-color);
	border-radius: 4px;
}

.progress-bar::-webkit-progress-value {
	background: var(--main-blue);
	border-radius: 4px;
}

.progress-bar::-moz-progress-bar {
	background: var(--main-blue);
	border-radius: 4px;
}
