.text {
	font: inherit;
	color: inherit;
}

.text_caption {
	font-size: var(--text-small-size);
	line-height: var(--text-small-spacing);
	color: var(--text-gray);
}

.text_mono {
	font-family: var(--font-code);
	font-size: var(--code-text-size);
	line-height: var(--code-text-spacing);
}