.toast {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 400px;
	z-index: 2;
	border-radius: 8px;
	padding: 12px 16px;
}

.toast__error {
	background-color: var(--red-light-bg);
	border: 1px solid var(--red-alert);
}

.toast__content {
	margin-bottom: 16px;
}

.toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    pointer-events: auto;
}

.toast-overlay.active {
    display: block;
}

body.toast-open {
    overflow: hidden;
}
