.toast {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 400px;
	z-index: 2;
	border-radius: 8px;
	padding: 12px 16px;
}

.toast--error {
	background-color: var(--red-light-bg);
	border: 1px solid var(--red-alert);
}

.toast__content {
	margin-bottom: 16px;
}
