@import "../base/variables.css";
@import "../base/base.css";
@import "../components/layout.css";
@import "../components/text.css";
@import "../components/header.css";
@import "../components/footer.css";
@import "../components/main.css";
@import "../components/button.css";
@import "../components/link.css";
@import "../components/progress-bar.css";
@import "../components/checkbox.css";
@import "../components/radio.css";
@import "../components/quiz.css";
@import "../components/question.css";
@import "../components/option.css";
@import "../components/modal.css";
@import "../components/burger.css";